%footer.footer
  .row
    .col-lg-12
      %ul.list-unstyled
        %li= link_to "About", '#'
        %li= link_to "Contact", '#'
        %li= link_to "Help", '#'
      %p FMC prototype tracking and reporting tool by Joshua Willett